.hero-category {
  width: 32px;
  height: 32px;
}
.text-start {
  text-align: start;
}
.superhero {
  word-break: break-word; /* Break words if necessary */
  overflow-wrap: break-word; /* Ensure long words break and wrap */
  white-space: normal; /* Ensure long words break and wrap */
  text-shadow: #888;
  /* box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3); */
}
.category {
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-right: 12px;
}

.categories {
  margin: 32px 0 48px 0;
}

.hero-section {
  /* width: 60%; */
}

.hero-card {
  border-radius: 20px;
  width: 140px;
  height: 230px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  margin-right: 16px;
}
.hero-card img {
  height: 230px;
  object-fit: cover;
  width: 140px;
  border-radius: 16px;
  filter: brightness(70%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/path/to/your/image.jpg"); /* Linear gradient overlay with image */
  background-size: cover;
  background-blend-mode: overlay; /* Blend the gradient with the image */
}

.overlay {
  position: relative;
  top: -234px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  border-radius: 16px;
}

.hero-card::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Linear gradient overlay */
}

.hero-card:hover img {
  filter: brightness(100%);
}

.hero-card-body {
  width: 140px;
  height: 230px;
  position: relative;
  bottom: 252px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-card-body h3.card-title {
  width: 120px;
}

h3 {
  margin: 0;
}

.scroll-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 12px 16px;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.scroll-horizontal::-webkit-scrollbar {
  height: 8px; /* Adjust scrollbar height */
}

.scroll-horizontal::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded scrollbar thumb */
}

.scroll-horizontal::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar thumb hover color */
}

.hero-card {
  display: inline-block;
  margin-right: 16px;
  transition: transform 0.3s ease-in-out; /* Animation for hover effect */
}

.hero-card:hover {
  transform: scale(1.05); /* Scale up on hover */
}
